html,
body {
	height: 100%;
	width: 100%;
	/* background: #122139; */
    background: #78e08f;
	overflow: hidden;
}

h1 { 
    color: #333;
    text-align: center;
}

aniversary__container {
    /* color: #fff; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
